### V2X Data Verification

#### Goal

- real-time
- accurate



#### Packet Design (Input)

- position (relative / GPS)
- velocity
- size







